.footer-categories {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  margin-top: 2px;
}

.footer-categories li {
  opacity: 0.7;
  transition: all 0.5s;
}

.footer-categories li:hover {
  opacity: 1;
  transition: all 0.5s;
}
